*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'LatoRegular', Helvetica, Arial, sans-serif;
  font-size:1em;
  font-weight: normal;
  background: transparent;
}

.CardForm {
  position: relative;
  width: 320px;
  margin: 60px auto 40px;
  background: white;
  padding: 20px 0 30px;
  border-radius: 8px;
}

.SecureIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 12px;
  height: 16px;
}

.CloseModal {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background .2s ease-in-out;

  &:hover {
    background: mix(white, #60c0e1, 66%);
  }
}

.Button {
  width: 260px;
  height: 48px;
  margin: 10px auto -54px;
  line-height: 48px;
  background: linear-gradient(to right, rgb(35,166,213), rgb(34,214,214));
  color: white;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to right, darken(rgb(35,166,213), 5), darken(rgb(34,214,214), 5));
  }

  &:active {
    background: linear-gradient(to right, rgb(35,166,213), rgb(34,214,214));
  }
}

.ErrorMessage {
  color: #c41818;
  text-align: center;
  margin: 0 30px 20px;
}

.MerchantImage {
  overflow: hidden;
  width: 68px;
  height: 68px;
  border: 2px solid rgb(35,166,213);
  border-radius: 34px;
  margin: -54px auto 10px;

  img {
    display: block;
    margin: 0;
    padding: 0;
    width: 64px;
    height: 64px;
  }
}

.MerchantName {
  text-align: center;
  margin-bottom: 20px;
  color: #878787;
  font-size: 1.2em;
  font-weight: bold;
}

.Field {
  margin: 0 30px 10px;

  &.explain {
    font-size: .75em;
    padding-top: .1em;
    color: #666666;
  }
}

.FieldSet {
  padding: 20px 0 10px;
  border-top: 1px solid #f2f2f2;
}

.FieldGroup {
  overflow: hidden;
  margin: 0 20px 10px 30px;

  .Field {
    float: left;
    margin: 0 10px 0 0;
  }
}

.TextField {
  width: 258px;
  line-height: 16px;
  padding: 6px 8px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  background: #f6f6f6;
  font-size: .875em;

  &.half {
    width: 124px;
  }

  &.third {
    width: 72px;
  }

  &.error {
    border-color: #c41818;
  }

  &:focus {
    border-color: rgb(35,166,213);
    border-radius: 2px;
    background: white;
    outline: none;
  }
}

.Footer {
  margin: 0 0 20px;
  color: white;
  text-align: center;

  a {
    display: inline-block;
    line-height: 24px;
    padding: 0 12px;
    border: 1px solid rgba(white, .1);
    border-radius: 12px;
    color: rgba(white, .4);
    font-size: .7em;
    text-decoration: none;
  }

  a:hover {
    border: 1px solid rgba(white, .3);
  }

  img {
    display: inline-block;
    margin: 0 1px;
  }
}

@media (max-width: 480px) {
  body {
    background: #1c1c1c;
  }

  .Container {
    background: #383838;
    padding-bottom: 2px;
  }

  .CardForm {
    width: 100%;
    border-radius: 0;
  }

  .FieldSet {
    width: 320px;
    margin: 0 auto;
  }
}

