*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'LatoRegular', Helvetica, Arial, sans-serif;
  font-size:1em;
  font-weight:normal;
  background:transparent;
}
.container-card-form {
  width: 300px;
  margin: auto;
  position: relative;
  padding-top:10%;
}
.merchant-name {
  text-align: center;
  color:#fff;
}
.logo-merchant {
  display:block;
  border-radius:100%;
  border:2px solid #60c0e1;
  height: 100px;
  width: 100px;
  margin: auto;
}
.merchant-name h1 {
  font-size: 18px;
  margin:10px auto;
}
.container-form-checkout{
  background: #fff;
  border: 1px solid;
  border-color: #c2cadb #bbc5d6 #b7c0cd;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 25px 25px 30px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  height: auto;
}
img {
  max-width:100%;
}
.close-modal {
  position: absolute;
  top: 7px;
  right:8px;
  width: 22px;
  height: 23px;
  display:block;
  text-indent: -9993em;
  background: url(../images/close-modal.png) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.container-form-modal {
  margin:20% auto;
}
.checkout-card {
  max-width: 300px;
  margin:15px auto;
  font-weight:100;
}
.merchant-name {
  text-align: center;
  color:#fff;
}
.logo-merchant {
  display:block;
  border-radius:100%;
  border:2px solid #60c0e1;
  height: 100px;
  width: 100px;
  margin: auto;
}
.merchant-name h1 {
  font-size: 18px;
  margin:10px auto;
}
.checkout-page {
  position: relative;
  padding-bottom: 60px;
  min-height: 100%;
}
.btn-omise-checkout {
  background: rgb(35,166,213);
  background: linear-gradient( to right, rgb(35,166,213) 0%, rgb(34,214,214) 100%) no-repeat;
  border:none;
  border-radius: 5px;
  height: 60px;
  display: block;
  margin: 0 10px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  position:relative;
  margin-top:-30px;
}
.btn-omise-checkout>button{
  background: transparent;
  border:none;
  display:block;
  cursor:pointer;
  font-size: 18px;
  color:#fff;
  height:100%;
  width:100%;
  margin:0;
}
.btn-omise-checkout:hover {
  text-decoration:none;
  color:#eee;
}

.container-form-checkout {
  background: #fff;
  border: 1px solid;
  border-color: #c2cadb #bbc5d6 #b7c0cd;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding:35px 25px 30px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  height:auto;
}
.input-data-checkout {
  margin-bottom:10px;
  position:relative;
}
.group-data,
.input-data-checkout.group-data {
  margin-bottom:25px;
}
.type-card {
  position:absolute;
  top: 0;
  right:10px;
}
.input-data-checkout input {
  font-size:1em;
  border:none;
  border-radius: 3px;
  background-color: #eaeaea;
  box-shadow: inset 1px 2px 2px 0px rgba(213, 213, 213, 0.75);
  display: block;
  width: 100%;
  height: 40px;
  padding:8px;
}
.input-data-checkout .verify-card-number {
  padding-right:80px;
}
.submit-card {
  position: absolute;
  right: 25px;
  left: 25px;
  bottom: -35px;
}
.row.mm-yy-cvc {
  margin: 0 -5px -10px;
  overflow:hidden;
}
.row.mm-yy-cvc .col-md-6 {
  width:50%;
  float:left;
  padding: 0 5px;
}
.card-apyment {
  width:300px;
  margin:auto;
  position: relative;
}

.power-by-omise {
  position:fixed;
  bottom:10px;
  left:10px;
  font-size:14px;
  color:#d3d3d3;
  text-align:center;
  webkit-transition: 200ms opacity ease;
  -moz-transition: 200ms opacity ease;
  -ms-transition: 200ms opacity ease;
  -o-transition: 200ms opacity ease;
  transition: 200ms opacity ease;
}

.loading .power-by-omise {
  opacity:1;
}

.power-by-omise a {
  color:#fff;
  text-decoration:none;
}

.power-by-omise a:hover {
  text-decoration:none;
}

.power-by-omise small {
  background:url(../images/Security-Icon.png) left no-repeat;
  padding-left:20px;
}

.footer-logo-omise {
  width:60px;
  height:20px;
  display:inline-block;
  margin-left:5px;
  position:relative;
  top:3px;
}

.error{
  background-color: #FFCC99 !important;
}

#errorMessage{
  color: red;
}

@media (max-width: 480px) {
  .container-card-form {
    width:100%;
    padding: 0;
    min-height:100%;
    position:static;
  }
  .full-screen {
    background:#fff;
  }
  .input-data-checkout input {
    background: #fff;
    box-shadow:none;
    border: 1px solid #ccc;
  }
  .logo-merchant {
    width: 64px;
    height:64px;
  }
  .container-form-modal {
    margin-top: 120px;
  }
  .container-form-modal,
  .checkout-card {
    margin:0;
    max-width:none;
  }
  .merchant-name  {
    padding:4% 0;
    height:120px;
  }
  .merchant-name {
    background:rgba(0,0,0,.7);
  }
  .container-form-checkout{
    border-radius: 0;
    border: none;
    padding:25px 10px 40px 10px;
    max-width:none;
    box-shadow:none;
  }
  .btn-omise-checkout  {
    position:absolute;
    height:60px;
    left:0;
    right: 0;
    bottom: 0;
    margin: 0;
    border-radius:0;
  }
  .btn-omise-checkout>.btn-checkout {
    border-radius:0;
    text-shadow:0 1px 1px #000;
  }
  .group-data, .input-data-checkout.group-data {
    margin-bottom: 8px;
  }
  .card-apyment {
    width:100%;
    position:static;
  }
  
  .power-by-omise {
    display:none;
  }
}
