.include-omise-card {
  z-index: 99999;
  opacity:0;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
}
.include-omise-card.loading-content {
  opacity:1;
  visibility: visible;
  pointer-events: auto;
}
.container-form-checkout {
  webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  height:0;
  overflow: hidden;
}


.power-by-omise {
  font-size:14px;
  color:#d3d3d3;
  text-align:center;
}

.power-by-omise small {
  background:url(../images/Security-Icon.png) left no-repeat;
  padding-left:20px;
}

.footer-logo-omise {
  width:60px;
  height:20px;
  display:inline-block;
  margin-left:5px;
  position:relative;
  top:-2px;
}

.include-omise-card {
  z-index: 9999;
  border: 0px none transparent;
  overflow-x: hidden;
  visibility:hidden;
  opacity:0;
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper-section-card {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index:-10;
  font-weight: 200;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: rgba(0,0,0,0.6);
  perspective: 800;
  -webkit-perspective: 800;
  opacity: 0;
  visibility:hidden;
  webkit-transition: 200ms opacity ease;
  -moz-transition: 200ms opacity ease;
  -ms-transition: 200ms opacity ease;
  -o-transition: 200ms opacity ease;
  transition: 200ms opacity ease;
}

.wrapper-section-card.active {
  opacity:1;
  visibility:visible;
  z-index: 9999;
}

.include-omise-card.loading-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 480px) {
  .wrapper-section-card.active {
    background:#fff;
  }

}






