---
title: Card.js Demo
---

<div class="welcome">
  <h1>Card.js Demo</h1>
  <form name="checkoutForm" method="POST">
    <input type="hidden" name="amount" value="10025" />
    <input type="hidden" name="description" value="Sample order (100.25 THB)" />
    <script type="text/javascript" src="http://localhost:8088/javascripts/card.js"
      data-key="pkey_test_4y71a1b2jsfiictvj31"  
      data-name="Merchant site name"
      data-amount="10025"
      data-image="http://localhost:4567/images/logo-merchant.png"
      data-currency="thb">
    </script>
  </form>
</div><!-- .welcome -->
