---
title: Card.js Demo
---

<div class="welcome">
  <h1>Card.js Demo</h1>
  <form name="checkoutForm" method="POST">
    <input type="hidden" name="amount" value="10025" />
    <input type="hidden" name="description" value="Sample order (100.25 THB)" />
    <script type="text/javascript" src="http://localhost:4569/javascripts/card.js"
      data-key="pkey_test_4x9hbmqj97kcyncb45l"
      data-name="Merchant site name"
      data-amount="8888888"
      data-image="http://localhost:4568/images/logo-merchant.png"
      data-location="yes"
      data-currency="thb">
    </script>
  </form>
</div><!-- .welcome -->
