@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
body {
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  font-size:1em;
  font-weight:normal;
  background:transparent;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width:100%;
}

.container-form-modal {
  margin:20% auto;
}
.checkout-card {
  max-width: 300px;
  margin:15px auto;
  font-weight:100;
}

.merchant-name {
  text-align: center;
  color:#fff;
}
.logo-merchant {
  display:block;
  border-radius:100%;
  border:2px solid #60c0e1;
  height: 100px;
  width: 100px;
  margin: auto;
}

.merchant-name h1 {
  font-size: 18px;
  margin:10px auto;
}
html {
  background: url(../images/bg-checkout.png) no-repeat center center fixed  #2c2c2c;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding:0;
  height:100%;
}
.btn-checkout {
  background-image: -moz-linear-gradient( 90deg, rgb(35,166,213) 0%, rgb(34,214,214) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(35,166,213) 0%, rgb(34,214,214) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(35,166,213) 0%, rgb(34,214,214) 100%);
  border:none;
  border-radius: 5px;
  height: 60px;
  display: block;
  margin: 0 10px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  position:relative;
}

.submit-card>.btn-checkout{
  width:100%;
  margin:0;
}

.btn-checkout:hover {
  text-decoration:none;
  color:#eee;
}

[href*="#modal"] {
  text-decoration: none;
}
[href="#close"] {
  position: absolute;
  top:10px;
  right: 10px;
  background: #000;
  color: #fff;
  padding: 5px;
}
#modal {
  height:0;
  z-index: 99999;
  opacity:0;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
}
#modal:target {
  height:auto;
  opacity:1;
  visibility: visible;
  pointer-events: auto;
}
.container-form-checkout {
  height:0;
  webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#modal:target .container-form-checkout {
  background: #fff;
  border: 1px solid;
  border-color: #c2cadb #bbc5d6 #b7c0cd;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  max-width: 400px;
  height:auto;
  padding:25px 25px 30px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  position:relative;
}

.loading-form+.btn-checkout {
  margin-top:-30px;
}


.input-data-checkout {
  margin-bottom:10px;
  position:relative;
}

.group-data,
.input-data-checkout.group-data {
  margin-bottom:25px;
}

.type-card {
  position:absolute;
  top: 0;
  right:10px;
}

.input-data-checkout input {
  font-size:1em;
  border:none;
  border-radius: 3px;
  background-color: #eaeaea;
  box-shadow: inset 1px 2px 2px 0px rgba(213, 213, 213, 0.75);
  display: block;
  width: 100%;
  height: 40px;
  padding:8px;
}

.input-data-checkout .verify-card-number {
  padding-right:80px;
}

.submit-card {
  position: absolute;
  right: 25px;
  left: 25px;
}

.row.mm-yy-cvc {
  margin: 0 -5px -10px;
}

.row.mm-yy-cvc .col-md-6 {
  width:50%;
  float:left;
  padding: 0 5px;
}


@media (max-width: 480px) {
  .input-data-checkout input {
    background: #fff;
    box-shadow:none;
    border: 1px solid #ccc;
  }
  body.animated .logo-merchant {
    width: 64px;
    height:64px;
  }
  .container-form-modal {
    margin-top: 120px;
  }
  .animated .container-form-modal,
  .checkout-card {
    margin:0;
    max-width:none;
  }
  body.animated .merchant-name  {
    padding:4% 0;
    height:120px;
  }
  body.animated .merchant-name {
    background:rgba(0,0,0,.3);
  }
  #modal:target .container-form-checkout {
    border-radius: 0;
    border: none;
    padding:25px 10px 80px 10px;
  }
  .submit-card  {
    position: fixed;
    left:0;
    right: 0;
    bottom: 0;
  }
  .submit-card>.btn-checkout {
    border-radius:0;
    text-shadow:0 1px 1px #000;
  }
  .group-data, .input-data-checkout.group-data {
    margin-bottom: 8px;
  }

}







