@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background: url(../images/bg-checkout.png) no-repeat center center fixed  #2c2c2c;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding:0;
  height:100%;
}
body {
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  font-size:1em;
  font-weight:normal;
  background:transparent;
}
body.fix-scroll {
  overflow:hidden;
}
img {
  max-width:100%;
}
.container-demo {
  margin:20% auto;
}
.checkout-card {
  max-width: 300px;
  margin:15px auto;
  font-weight:100;
}
.merchant-name {
  text-align: center;
  color:#fff;
}
.logo-merchant {
  display:block;
  border-radius:100%;
  border:2px solid #60c0e1;
  height: 100px;
  width: 100px;
  margin: auto;
}
.merchant-name h1 {
  font-size: 18px;
  margin:10px auto;
}

.demo-content {
  color:#fff;
}
.btn-checkout {
  background-image: -moz-linear-gradient( 90deg, rgb(35,166,213) 0%, rgb(34,214,214) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(35,166,213) 0%, rgb(34,214,214) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(35,166,213) 0%, rgb(34,214,214) 100%);
  border:none;
  border-radius: 5px;
  height: 60px;
  display: block;
  color: #fff;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  position:relative;
}
.submit-card>.btn-checkout{
  width:100%;
  margin:0;
}
.btn-checkout:hover {
  text-decoration:none;
  color:#eee;
}




