<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Card.js</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi, user-scalable=no, minimal-ui">
  <link href="https://cdn.omise.co/fonts/lato.css" rel="stylesheet" type="text/css" />
  <link href="stylesheets/card.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <form action="" id="checkout" method="post">
    <div class="container-card-form">
      <section>
        <header class="merchant-name">
          <span class="logo-merchant"><img alt="" id="merchantImage"></span>
          <h1 class="store-name" id="merchantName"></h1>
        </header>
        <div class="checkout-card">
          <div class="container-form-checkout">
            <a class="close-modal">Close</a>
            <div id="errorMessage"></div>
            <div class="input-data-checkout group-data">
              <input id="cardholder_name" type="text" x-autocompletetype="text" autocompletetype="text" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="Card Holder's Name" autofocus="">
            </div>
            <div class="group-data">
              <div class="input-data-checkout">
                <input class="verify-card-number" id="card_number" type="tel" x-autocompletetype="cc-number" autocompletetype="cc-number" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="Card number">
                <span class="type-card"><img src="images/visa-card-checkout.png"></span>
              </div>
              <div class="row mm-yy-cvc">
                <div class="col-md-6 input-data-checkout">
                  <input class="control" id="expiration_month" type="text" x-autocompletetype="off" autocompletetype="off" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="MM">
                </div>
                <div class="col-md-6 input-data-checkout">
                  <input class="control" id="expiration_year" type="text" x-autocompletetype="off" autocompletetype="off" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="YYYY">
                </div>
                <div class="col-md-6 input-data-checkout">
                  <input class="control" id="security_code" type="password" autocomplete="off" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="CVC" maxlength="4">
                </div>
              </div>
            </div>
            <div class="input-data-checkout">
              <input id="postal_code" type="text" x-autocompletetype="text" autocompletetype="text" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="Postal code *optional">
            </div>
            <div class="input-data-checkout">
              <input id="city" type="text" x-autocompletetype="text" autocompletetype="text" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="City *optional">
            </div>
          </div>
          <p class="btn-omise-checkout">
            <button id="paynow">Pay now ฿<span id="checkoutDisplayAmount"></span></button>
          </p>
        </div>
      </section>
    </div>
  </form>

  <footer class="power-by-omise">
    <a href="https://www.omise.co/" target="_blank">
      <small>Secure Transaction by</small>
      <span><img class="footer-logo-omise" src="images/by-omise.png" alt=""></span>
    </a>
  </footer>

  <script src="javascripts/jquery.js"></script>
  <script src="https://cdn.omise.co/omise.js"></script>
  <script src="javascripts/card_window.js"></script>
</body>
</html>
