<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Card.js</title>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi, user-scalable=no, minimal-ui">
        <link href="https://cdn.omise.co/fonts/lato.css" rel="stylesheet" type="text/css" />

        <%= stylesheet_link_tag "all" %>
        <script src="/javascripts/card-2.0.0.js"></script>
    </head>
    <body>
        <h1>Pay for new iMac</h1>
        <form action="/charge-th.php" style="background: #eee; padding: 20px;" id="checkout-th">
            Form: #checkout-th
            <button type="submit" class="omise-paynow-button-2">Pay Now 2 (will submit .checkout-us)</button type="submit">
        </form>

        <form action="/charge-us.php" style="background: #ccc; padding: 20px;" class="checkout-us">
            Form: #checkout-us
        </form>

        <form action="/charge-default.php" style="background: #eee; padding: 20px;">
            Default form
            <button type="submit" id="omise-paynow-button-1">Pay Now 1 (will submit #checkout-th)</button type="submit">
        </form>

        <br/>

        <br/>
        <button type="submit" id="omise-paynow-button-3">Pay Now 3</button type="submit">

        <script>
            OmiseCard.configure({
              amount: 22200,
              publicKey: 'pkey_test_4zfuolwdegumf4k2qba',
              locationField: "yes",
            });

            // Button 1
            OmiseCard.configureButton('#omise-paynow-button-1', {
                frameLabel: 'My Store',
                submitLabel: 'PAY NOW',
                buttonLabel: 'PAY FOR TH STORE',
                locationField: "no",
                // submitFormTarget: '#checkout-th',
            });

            // Button 2
            OmiseCard.configureButton('.omise-paynow-button-2', {
                amount: 555000,
                buttonLabel: 'PAY FOR US STORE',
                submitFormTarget: '.checkout-us',
                submitAuto: "no"
            });

            // Button 3
            OmiseCard.configureButton('#omise-paynow-button-3', {
                amount: 900000,
                submitFormTarget: '.checkout-uxs',
            });

            // Button 4
            OmiseCard.configureButton('#omise-paynow-button-4', {});

            // Button 5
            OmiseCard.configureButton('.omise-paynow-button-5', {});

            OmiseCard.attach();
        </script>
    </body>
</html>
